<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item col-12">
        <div class="mb-2">
          <a href="/analisis-nphr/create" class="btn btn-primary btn-lg float-sm-right">Input Data Analisis NPHR</a>
          <h3 class="c-grey-900 mB-20">Analisis NPHR</h3>
        </div>
        {{#each success}}
        <div class="alert alert-success" role="alert">{{this}}</div>
        {{/each}}
        <div class="bgc-white bd bdrs-3 p-20">
          <h4 class="c-grey-900 mB-20">Data Analisis NPHR</h4>
          <form action="">
            <div class="form-group row">
              <label for="bulanTahun" class="col-sm-1 col-form-label">Periode</label>
              <div class="col-sm-2">
                <div id="datepickerBulanTahun" class="input-group date" data-date-format="mm-yyyy">
                  <input name="dataAnalisis.bulanTahun" id="bulanTahun" class="form-control" type="text" readonly />
                  <div class="input-group-append">
                    <span class="input-group-text input-group-addon"><i class="ti-calendar"></i></span>
                  </div>
                </div>
              </div>
              <label for="upk" class="col-sm-1 col-form-label">UPK</label>
              <div class="col-sm-2" id="upk">
                <select name="dataAnalisis.upk" id="upk" class="form-control">
                  <option selected hidden disabled>Pilih UPK...</option>
                  <option {{#ifequal query.dataAnalisis.upk 'belawan'}}selected{{/ifequal}} value="belawan">UPK Belawan</option>
                  <option {{#ifequal query.dataAnalisis.upk 'pangkalan_susu'}}selected{{/ifequal}} value="pangkalan_susu">UPK Pangkalan Susu</option>
                  <option {{#ifequal query.dataAnalisis.upk 'nagan_raya'}}selected{{/ifequal}} value="nagan_raya">UPK Nagan Raya</option>
                  <option {{#ifequal query.dataAnalisis.upk 'labuhan_angin'}}selected{{/ifequal}} value="labuhan_angin">UPK Labuhan Angin</option>
                  <option {{#ifequal query.dataAnalisis.upk 'pekanbaru'}}selected{{/ifequal}} value="pekanbaru">UPDK Pekanbaru</option>
                  <option {{#ifequal query.dataAnalisis.upk 'pandan'}}selected{{/ifequal}} value="pandan">UPDK Pandan</option>
                </select>
              </div>
              <label for="ulpl" class="col-sm-1 col-form-label">ULPL</label>
              <div class="col-sm-2" id="ulpl">
                <select name="dataAnalisis.ulpl" id="ulpl" class="form-control">
                  <option selected hidden disabled>Pilih ULPL...</option>
                  {{#each ulplList}}
                  <option {{#ifequal ../query.dataAnalisis.ulpl this}}selected{{/ifequal}} value="{{this}}">{{this}}</option>
                  {{/each}}
                </select>
              </div>
              <div class="form-group col-sm-2">
                <button class="btn btn-primary">Tampilkan data</button>
              </div>
            </div>
          </form>
          {{#if parameters}}
          <table id="table-data-analisa-nphr" class="table table-bordered mt-5" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Parameter</th>
                <th>Baseline</th>
                <th>Actual</th>
                <th>Heat Rate (kCal/kWh)</th>
                <th>Cost Benefit (Rp juta/hari)</th>
              </tr>
            </thead>
            <tbody>
              {{#each parameters}}
              <tr>
                <td>{{lookup ../paramNames this.name}}</td>
                <td>{{#if this.baseline}}{{toFixed this.baseline 4}}{{/if}}</td>
                <td>{{#if this.baseline}}{{toFixed this.actual 4}}{{/if}}</td>
                <td>{{toFixed this.heatRate 4}}</td>
                <td>{{toFixed this.costBenefit 4}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
          <div class="row mT-20">
            <div class="col-md-12">
              <h5>Heat Loss Waterfall</h5>
              <div class="mT-30">
                <canvas id="waterfall-chart" height="160"></canvas>
              </div>
            </div>
          </div>
          <div class="row mT-20">
            <div class="col-md-12">
              <h5>Pareto Heat Rate</h5>
              <div class="mT-30">
                <canvas id="pareto-chart" height="160"></canvas>
              </div>
            </div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    $('#table-data-analisa-nphr').DataTable({
      searching: false,
      "order": [],
    });
  });
  $(function () {
    const [bln, thn] = '{{query.dataAnalisis.bulanTahun}}'.split('-');
    const bulanTahun = bln && thn ? new Date(`${thn}-${bln}`) : new Date();
    $("#datepickerBulanTahun").datepicker({
      autoclose: true,
      todayHighlight: true,
      format: "mm-yyyy",
      startView: "months",
      minViewMode: "months"
    }).datepicker('update', bulanTahun);
  });

  const waterfallChartBox = document.getElementById('waterfall-chart');
  if (waterfallChartBox) {
    const waterfallCtx = waterfallChartBox.getContext('2d');
    new Chart(waterfallCtx, {
      type: 'horizontalBar',
      data: {
        labels: {{{ JSONstringify waterfall.labels }}},
        datasets: [{
          label: 'Deviasi Heat Rate (kCal/kWh)',
          backgroundColor: '#2196f3',
          borderColor: '#1976d2',
          borderWidth: 1,
          data: {{ JSONstringify waterfall.values }},
        }],
      },

      options: {
        responsive: true,
        legend: {
          position: 'bottom',
        },
      },
    });
  }

  const paretoChartBox = document.getElementById('pareto-chart');
  if (paretoChartBox) {
    const paretoCtx = paretoChartBox.getContext('2d');
    new Chart(paretoCtx, {
      type: 'bar',
      data: {
        labels: {{{ JSONstringify pareto.labels }}},
        datasets: [{
          label: 'HR Losses (kCal/kWh)',
          backgroundColor: '#673ab7',
          borderColor: '#512da8',
          borderWidth: 1,
          data: {{ JSONstringify pareto.barValues }},
          order: 2
        }, {
          label: 'HR Cummulative (%)',
          borderColor: '#1976d2',
          backgroundColor: 'rgba(0, 0, 0, 0)',
          borderWidth: 2,
          data: {{ JSONstringify pareto.lineValues }},
          type: 'line',
          order: 1
        }],
      },

      options: {
        responsive: true,
        legend: {
          position: 'bottom',
        }, 
        elements: {
          line: {
            tension: 0,
          },
        },
      },
    });
  }
</script>