<!-- ### Screen Content ### -->
<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    {{#each success}}
    <div class="alert alert-success" role="alert">{{this}}</div>
    {{/each}}
    {{#if error}}
    <div class="alert alert-danger" role="alert">{{error}}</div>
    {{/if}}
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-8"></div>
      <div class="masonry-item col-md-8">
        <div class="bgc-white bd bdrs-3 p-20">
          <h4 class="c-grey-900 mB-30">Tambah Berkas Baru</h4>
          <form method="POST" enctype="multipart/form-data">
            <div class="form-group row">
              <label for="judul" class="col-sm-4 col-form-label">Judul Berkas</label>
              <div class="col-sm-8">
                <input name="title" type="text" class="form-control" id="judul" placeholder="" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="berkasDownload" class="col-sm-4 col-form-label">Berkas</label>
              <div class="col-sm-8">
                <input name="file" type="file" class="form-control-file" id="berkasDownload" required>
              </div>
            </div>
            <div class="form-group row mT-30 text-right">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Tambahkan Berkas</button>
              </div>
            </div>
          </form>
        </div>
        <div class="bgc-white bd bdrs-3 p-20 mT-20">
          <h4 class="c-grey-900 mB-30">Berkas</h4>
          <table id="table-laporan" class="table" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th>Judul Berkas</th>
                <th>Action</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {{#each files}}
              <tr>
                <td>{{this.title}}</td>
                <td>
                  <a class="btn btn-outline-primary btn-sm" href="/download/{{this.name}}">Download</a>
                  <a class="btn btn-outline-danger btn-sm" href="/download/{{this.name}}/delete">Hapus</a>
                </td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>