<!-- ### Screen Content ### -->
<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item col-12">
        <div class="mb-3">
          {{#if isAdminOrUnit}}
          <a href="/pemakaian-sendiri/create" class="btn btn-primary btn-lg float-sm-right">Input Data Pemakaian
            Sendiri</a>
          {{/if}}
          <h3 class="c-grey-900 mL-10 mB-20">Pemakaian Sendiri</h3>
        </div>
        {{#each success}}
        <div class="alert alert-success" role="alert">{{this}}</div>
        {{/each}}
        <div class="bgc-white bd bdrs-3 mT-20 p-20">
          <h4 class="c-grey-900 mB-20">Data Pemakaian Sendiri</h4>
          <form action="">
            <div class="form-group row">
              <label for="tahun" class="col-sm-1 col-form-label">Tahun</label>
              <div class="col-sm-2">
                <div id="datepickerTahun" class="input-group date" data-date-format="yyyy">
                  <input name="tahun" id="tahun" class="form-control" type="text" readonly />
                  <div class="input-group-append">
                    <span class="input-group-text input-group-addon"><i class="ti-calendar"></i></span>
                  </div>
                </div>
              </div>
              <div class="form-group col-sm-2">
                <button class="btn btn-primary">Tampilkan data</button>
              </div>
            </div>
          </form>
          {{#if warningMsg}}
          <div class="alert alert-warning" role="alert">{{warningMsg}}</div>
          {{/if}}
          {{#if infoMsg}}
          <div class="alert alert-info" role="alert">{{infoMsg}}</div>
          {{/if}}
          {{#if psPerUpk}}
          <div class="row">
            <div class="col-12">
              <h5 class="mB-20">Pemakaian Sendiri Per UPK</h5>
              <table id="table-persentase-pemakaian-sendiri" class="table table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>UPK</th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>April</th>
                    <th>Mei</th>
                    <th>Juni</th>
                    <th>Juli</th>
                    <th>Agt</th>
                    <th>Sep</th>
                    <th>Okt</th>
                    <th>Nov</th>
                    <th>Des</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each psPerUpk}}
                  <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.jan}}</td>
                    <td>{{this.feb}}</td>
                    <td>{{this.mar}}</td>
                    <td>{{this.apr}}</td>
                    <td>{{this.may}}</td>
                    <td>{{this.jun}}</td>
                    <td>{{this.jul}}</td>
                    <td>{{this.aug}}</td>
                    <td>{{this.sep}}</td>
                    <td>{{this.oct}}</td>
                    <td>{{this.nov}}</td>
                    <td>{{this.dec}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          {{/if}}
          {{#if psPerPembangkit}}
          <div class="row mT-15">
            <div class="col-12">
              <h5 class="mB-20">Pemakaian Sendiri Per Jenis Pembangkit</h5>
              <table id="table-persentase-pemakaian-sendiri" class="table table-sm" cellspacing="0" width="100%">
                <thead>
                  <tr>
                    <th>Jenis Pembangkit</th>
                    <th>Jan</th>
                    <th>Feb</th>
                    <th>Mar</th>
                    <th>April</th>
                    <th>Mei</th>
                    <th>Juni</th>
                    <th>Juli</th>
                    <th>Agt</th>
                    <th>Sep</th>
                    <th>Okt</th>
                    <th>Nov</th>
                    <th>Des</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each psPerPembangkit}}
                  <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.jan}}</td>
                    <td>{{this.feb}}</td>
                    <td>{{this.mar}}</td>
                    <td>{{this.apr}}</td>
                    <td>{{this.may}}</td>
                    <td>{{this.jun}}</td>
                    <td>{{this.jul}}</td>
                    <td>{{this.aug}}</td>
                    <td>{{this.sep}}</td>
                    <td>{{this.oct}}</td>
                    <td>{{this.nov}}</td>
                    <td>{{this.dec}}</td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
          </div>
          {{/if}}
          <div class="row mT-15">
            {{#if chartPerUpk.values}}
            <div class="col-md-6">
              <div class="layer">
                <canvas id="pemakaian-chart-per-upk"></canvas>
              </div>
            </div>
            {{/if}}
            {{#if chartPerPembangkit.values}}
            <div class="col-md-6">
              <div class="layer">
                <canvas id="pemakaian-chart-home"></canvas>
              </div>
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  $(function () {
    const tahun = '{{query.tahun}}' ? new Date('{{query.tahun}}') : new Date();
    $("#datepickerTahun").datepicker({
      autoclose: true,
      todayHighlight: true,
      format: "yyyy",
      startView: "years",
      minViewMode: "years"
    }).datepicker('update', tahun);
  });
  new Chart(document.getElementById("pemakaian-chart-per-upk"), {
    type: 'pie',
    data: {
      labels: {{{ JSONstringify chartPerUpk.labels }}},
      datasets: [{
        label: "Percentage",
        backgroundColor: {{{ JSONstringify chartPerPembangkit.colors }}},
        data: {{ JSONstringify chartPerUpk.values }}
      }]
    },
    options: {
      title: {
        display: false
      },
      tooltips: {
        mode: 'label',
        callbacks: {
          label: function (tooltipItem, data) {
            return data['datasets'][0]['data'][tooltipItem['index']] + '%';
          }
        }
      },
      legend: {
        position: 'right'
      }
    }
  });
  new Chart(document.getElementById("pemakaian-chart-home"), {
    type: 'pie',
    data: {
      labels: {{{ JSONstringify chartPerPembangkit.labels }}},
      datasets: [{
        label: "Percentage",
        backgroundColor: {{{ JSONstringify chartPerPembangkit.colors }}},
        data: {{ JSONstringify chartPerPembangkit.values }}
      }]
    },
    options: {
      title: {
        display: false
      },
      tooltips: {
        mode: 'label',
        callbacks: {
          label: function (tooltipItem, data) {
            return data['datasets'][0]['data'][tooltipItem['index']] + '%';
          }
        }
      },
      legend: {
        position: 'right'
      }
    }
  });
</script>