<!-- ### Screen Content ### -->
<main class='main-content bgc-grey-100'>
  <div id='mainContent'>
    <div class="row gap-20 masonry pos-r">
      <div class="masonry-sizer col-md-6"></div>
      <div class="masonry-item col-12">
        <form action="">
          <div class="mb-2">
            {{#if isAdmin}}<button type="submit" class="btn btn-primary btn-lg float-sm-right mL-10">Simpan</button>{{/if}}
            <h3 class="c-grey-900 mL-10 mB-20">Maturity Level {{upkName}}</h3>
          </div>
          <div class="bgc-white bd bdrs-3 p-20">
            <table id="table-rekap-maturity" class="table mt-5" cellspacing="0" width="100%">
              <thead>
                <tr>
                  <th>Sub Area</th>
                  <th>ML Target</th>
                  <th>ML Realisasi</th>
                  <th>Evidence</th>
                  <th>Status</th>
                  <th>Catatan</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Pengumpulan Data Efisiensi</td>
                  <td>{{ml.pengumpulanDataEfisiensi.target}}</td>
                  <td>{{ml.pengumpulanDataEfisiensi.realisasi}}</td>
                  <td>
                    <a class="" href="/maturity-level/download?upk={{ml.upk}}&semester={{ml.semester}}&tahun={{ml.tahun}}&laporan=pengumpulanDataEfisiensi">{{ml.pengumpulanDataEfisiensi.fileName}}</a>
                  </td>
                  <td>
                    <select name="pengumpulanDataEfisiensi.approval" class="custom-select custom-select-sm" id="maturityApprovalStatus" {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                      <option disabled hidden selected>Waiting for approval</option>
                      <option>Approved</option>
                      <option>Rejected</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="beri catatan..." {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                  </td>
                </tr>
                <tr>
                  <td>Perhitungan Performance Test</td>
                  <td>{{ml.perhitunganPerformanceTest.target}}</td>
                  <td>{{ml.perhitunganPerformanceTest.realisasi}}</td>
                  <td>
                    <a class="" href="/maturity-level/download?upk={{ml.upk}}&semester={{ml.semester}}&tahun={{ml.tahun}}&laporan=perhitunganPerformanceTest">{{ml.perhitunganPerformanceTest.fileName}}</a>
                  </td>
                  <td>
                    <select name="perhitunganPerformanceTest.approval" class="custom-select custom-select-sm disabled" id="maturityApprovalStatus" {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                      <option disabled hidden selected>Waiting for approval</option>
                      <option>Approved</option>
                      <option>Rejected</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="beri catatan..." {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                  </td>
                </tr>

                <tr>
                  <td>Pemodelan</td>
                  <td>{{ml.pemodelan.target}}</td>
                  <td>{{ml.pemodelan.realisasi}}</td>
                  <td>
                    <a class=""
                      href="/maturity-level/download?upk={{ml.upk}}&semester={{ml.semester}}&tahun={{ml.tahun}}&laporan=pemodelan">{{ml.pemodelan.fileName}}</a>
                  </td>
                  <td>
                    <select name="pemodelan.approval" class="custom-select custom-select-sm disabled" id="maturityApprovalStatus" {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                      <option disabled hidden selected>Waiting for approval</option>
                      <option>Approved</option>
                      <option>Rejected</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="beri catatan..." {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                  </td>
                </tr>

                <tr>
                  <td>Heat Rate Analysis</td>
                  <td>{{ml.heatRateAnalysis.target}}</td>
                  <td>{{ml.heatRateAnalysis.realisasi}}</td>
                  <td>
                    <a class=""
                      href="/maturity-level/download?upk={{ml.upk}}&semester={{ml.semester}}&tahun={{ml.tahun}}&laporan=heatRateAnalysis">{{ml.heatRateAnalysis.fileName}}</a>
                  </td>
                  <td>
                    <select name="heatRateAnalysis.approval" class="custom-select custom-select-sm disabled" id="maturityApprovalStatus" {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                      <option disabled hidden selected>Waiting for approval</option>
                      <option>Approved</option>
                      <option>Rejected</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="beri catatan..." {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                  </td>
                </tr>

                <tr>
                  <td>Auxiliary Power Analysis</td>
                  <td>{{ml.auxiliaryPowerAnalysis.target}}</td>
                  <td>{{ml.auxiliaryPowerAnalysis.realisasi}}</td>
                  <td>
                    <a class=""
                      href="/maturity-level/download?upk={{ml.upk}}&semester={{ml.semester}}&tahun={{ml.tahun}}&laporan=auxiliaryPowerAnalysis">{{ml.auxiliaryPowerAnalysis.fileName}}</a>
                  </td>
                  <td>
                    <select name="auxiliaryPowerAnalysis.approval" class="custom-select custom-select-sm disabled" id="maturityApprovalStatus" {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                      <option disabled hidden selected>Waiting for approval</option>
                      <option>Approved</option>
                      <option>Rejected</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="beri catatan..." {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                  </td>
                </tr>

                <tr>
                  <td>Rekomendasi</td>
                  <td>{{ml.rekomendasi.target}}</td>
                  <td>{{ml.rekomendasi.realisasi}}</td>
                  <td>
                    <a class=""
                      href="/maturity-level/download?upk={{ml.upk}}&semester={{ml.semester}}&tahun={{ml.tahun}}&laporan=rekomendasi">{{ml.rekomendasi.fileName}}</a>
                  </td>
                  <td>
                    <select name="rekomendasi.approval" class="custom-select custom-select-sm disabled" id="maturityApprovalStatus" {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                      <option disabled hidden selected>Waiting for approval</option>
                      <option>Approved</option>
                      <option>Rejected</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="beri catatan..." {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                  </td>
                </tr>

                <tr>
                  <td>Pelaporan Efisiensi</td>
                  <td>{{ml.pelaporanEfisiensi.target}}</td>
                  <td>{{ml.pelaporanEfisiensi.realisasi}}</td>
                  <td>
                    <a class=""
                      href="/maturity-level/download?upk={{ml.upk}}&semester={{ml.semester}}&tahun={{ml.tahun}}&laporan=pelaporanEfisiensi">{{ml.pelaporanEfisiensi.fileName}}</a>
                  </td>
                  <td>
                    <select name="pelaporanEfisiensi.approval" class="custom-select custom-select-sm disabled" id="maturityApprovalStatus" {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                      <option disabled hidden selected>Waiting for approval</option>
                      <option>Approved</option>
                      <option>Rejected</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="beri catatan..." {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                  </td>
                </tr>

                <tr>
                  <td>Monitoring Post Program</td>
                  <td>{{ml.monitoringPostProgram.target}}</td>
                  <td>{{ml.monitoringPostProgram.realisasi}}</td>
                  <td>
                    <a class=""
                      href="/maturity-level/download?upk={{ml.upk}}&semester={{ml.semester}}&tahun={{ml.tahun}}&laporan=monitoringPostProgram">{{ml.monitoringPostProgram.fileName}}</a>
                  </td>
                  <td>
                    <select name="monitoringPostProgram.approval" class="custom-select custom-select-sm disabled" id="maturityApprovalStatus" {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                      <option disabled hidden selected>Waiting for approval</option>
                      <option>Approved</option>
                      <option>Rejected</option>
                    </select>
                  </td>
                  <td>
                    <input class="form-control form-control-sm" type="text" placeholder="beri catatan..." {{#isFalsey isAdmin}}disabled{{/isFalsey}}>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<script>
  $(document).ready(function () {
    $('#table-rekap-maturity').DataTable({
      searching: false,
      order: []
    });
  });
</script>